$breakpoints: (
	tablet: (
		min: 768px,
		max: 1199px,
	),
	s-mobile: (
		max: 767.9px,
	),
	m-mobile: (
		min: 322px,
		max: 419px,
	),
	l-mobile: (
		min: 420px,
		max: 767.9px,
	),
	l-screen: (
		min: 2000px,
		max: 2600px,
	),
	m-screen: (
		min: 1300px,
		max: 1441px,
	),
	c-portable: (
		min: 850px,
		max: 1024px,
	),
	i-12: (
		min: 460px,
		max: 500px,
	),
);

@mixin breakpoint($break) {
	@if map-has-key($breakpoints, $break) {
		$breakpoint-values: map-get($breakpoints, $break);
		$min-value: map-get($breakpoint-values, min);
		$max-value: map-get($breakpoint-values, max);

		@if $min-value and $max-value {
			@media (min-width: $min-value) and (max-width: $max-value) {
				@content;
			}
		} @else if $min-value {
			@media (min-width: $min-value) {
				@content;
			}
		} @else if $max-value {
			@media (max-width: $max-value) {
				@content;
			}
		}
	} @else {
		@warn "Le breakpoint `#{$break}` n'existe pas dans la map. Choisissez parmi #{map-keys($breakpoints)}.";
	}
}
