.contact-btn-email {
	height: 40px;
	border: 4px solid rgb(131, 182, 177);
	border-radius: 10px;
	padding: 20px 8px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	transition:
		transform 0.3s ease,
		text-shadow 0.3s ease;
	&:hover {
		transform: scale(1.05);
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	}
	.contact-btn-email-txt {
		color: rgb(131, 182, 177);
		margin: 0;
		font-size: 1.3rem;
	}
}
