.header {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	.header-logo {
		font-family: "Roboto", serif;
		text-decoration: none;
		font-size: 2rem;
		margin: 0;
		font-weight: 900;
	}
	.header-logo span {
		display: inline-block;
		margin: 0;
		margin-right: 2px;
		animation-name: wave;
		animation-duration: 5s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		font-size: 2rem;
		line-height: 0.4;
	}
	a {
		text-decoration: none;
		color: rgb(131, 182, 177);
	}
	.header-nav {
		.header-nav-ul {
			list-style: none;
			display: flex;
			flex-direction: row;
			gap: 1rem;
			.header-nav-li {
				font-size: 1.5rem;
				transition:
					transform 0.3s ease,
					text-shadow 0.3s ease;
				&:hover {
					transform: scale(1.05);
					text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
				}
			}
		}
	}
}

@keyframes wave {
	0%,
	30%,
	100% {
		transform: translateY(0);
	}
	10% {
		transform: translateY(-20px);
	}
	20% {
		transform: translateY(20px);
	}
}
